.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  border: 1px solid black;
  padding:2%;
  min-width:30%;
  margin-right:0.2%;
  margin-top:1%;
  list-style-type: none;
  display:inline-block;
  padding-bottom:2.6%;
}
li{
  font-size: 1.8vh;
}

.McLaren{
  background: linear-gradient( #ff8000 0% 78%, #47c7fc 78% 86%, #ffffff 80% 80.5%, #000000 79% 100%);
}
.Oracle{
  background: linear-gradient( #082a4d 0% 78%, #fcd800 78% 82%, #ffffff 80% 80.5%, #dc0c1d 79% 100%);
  color:white;
}

.Williams{
  background: linear-gradient( #FFFFFF 0% 78%, #00A3E0 78% 100%);
  color:black;
}

.Alfa{
  background: linear-gradient( #981E32 0% 78%, #FFFFFF 78% 100%);
  color:white;
}
.Haas{
  background: linear-gradient( rgb(243, 237, 237) 0% 78%, #f62039 78% 89%, #295294 89% 100% );

}
.Mercedes{
  background: linear-gradient(#ad1c3c 0% 5%, #e6e4e4 3% 78%, #00A19C 78% 100%);
}

.Aston{
  background: linear-gradient( #00594F 0% 78%, #CEDC00 78% 100%);
  color:white;
}
.Scuderia.AlphaTauri{
  background: linear-gradient( #00293F 0% 78%, #F1F3F4 78% 100%);
  color:white;
}
.Scuderia.Ferrari{
  background: linear-gradient( #A6051A 0% 78%, #FFEB00 78% 80%, #111111 82% 100%);
  color:white;
}

.BWT{
  background: linear-gradient( #0078C1 0% 78%, #FD4BC7 78% 82%, #FFFFFF 82% 100%);
  color:white;
}
.opSelect{
  font-weight:bold;
}


/*-----------------*/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
