
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

ul{
  border: 1px solid black;
  padding:2%;
  min-width:30%;
  margin-right:0.2%;
  margin-top:1%;
  list-style-type: none;
  display:inline-block;
  padding-bottom:2.6%;
}
li{
  font-size: 1.8vh;
}

.McLaren{
  background: linear-gradient( #ff8000 0% 78%, #47c7fc 78% 86%, #ffffff 80% 80.5%, #000000 79% 100%);
  color:black;
}
.Oracle{
  background: linear-gradient( #082a4d 0% 78%, #fcd800 78% 82%, #ffffff 80% 80.5%, #dc0c1d 79% 100%);
  color:white;
}

.Williams{
  background: linear-gradient( #FFFFFF 0% 78%, #00A3E0 78% 100%);
  color:black;
}

.Alfa{
  background: linear-gradient( #981E32 0% 78%, #FFFFFF 78% 100%);
  color:white;
}
.Haas{
  background: linear-gradient( rgb(243, 237, 237) 0% 78%, #f62039 78% 89%, #295294 89% 100% );
  color:black;
}
.Mercedes{
  background: linear-gradient(#ad1c3c 0% 5%, #e6e4e4 3% 78%, #00A19C 78% 100%);
  color:black;
}

.Aston{
  background: linear-gradient( #00594F 0% 78%, #CEDC00 78% 100%);
  color:white;
}
.Scuderia.AlphaTauri{
  background: linear-gradient( #00293F 0% 78%, #F1F3F4 78% 100%);
  color:white;
}
.Scuderia.Ferrari{
  background: linear-gradient( #A6051A 0% 78%, #FFEB00 78% 80%, #111111 82% 100%);
  color:white;
}

.BWT{
  background: linear-gradient( #0078C1 0% 78%, #FD4BC7 78% 82%, #FFFFFF 82% 100%);
  color:white;
}
.opSelect{
  font-weight:bold;
}


/*-----------------*/
#overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
#myNav{
  background-color: rgba(138, 4, 4, 0.9);
}


.oMcLaren{
  background: linear-gradient( #ff8000 0% 78%, #47c7fc 78% 86%, #ffffff 80% 80.5%, #000000 79% 100%);

  
}
.oOracle{
  background: linear-gradient( #082a4d 0% 78%, #fcd800 78% 82%, #ffffff 80% 80.5%, #dc0c1d 79% 100%);
  color:white;
}

.oWilliams{
  background: linear-gradient( #FFFFFF 0% 78%, #00A3E0 78% 100%);
  color:black;
}

.oAlfa{
  background: linear-gradient( #981E32 0% 78%, #FFFFFF 78% 100%);
  color:white;
}
.oHaas{
  background: linear-gradient( rgb(243, 237, 237) 0% 78%, #f62039 78% 89%, #295294 89% 100% );

}
.oMercedes{
  background: linear-gradient(#ad1c3c 0% 5%, #e6e4e4 3% 78%, #00A19C 78% 100%);
}

.oAston{
  background: linear-gradient( #00594F 0% 78%, #CEDC00 78% 100%);
  color:white;
}
.oScuderia.AlphaTauri{
  background: linear-gradient( #00293F 0% 78%, #F1F3F4 78% 100%);
  color:white;
}
.oScuderia.Ferrari{
  background: linear-gradient( #A6051A 0% 80%, #FFEB00 80% 84%, #111111 84% 100%);
  color:white;
}

.oBWT{
  background: linear-gradient( #0078C1 0% 78%, #FD4BC7 78% 82%, #FFFFFF 82% 100%);
  color:white;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;

}

#overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#overlay a:hover, #overlay a:focus {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor:pointer;
}

.svggraph {
min-width:10%;
max-width:25%;
margin-left:auto;
margin-right:auto;

}

@media screen and (max-height: 450px) {
  #overlay {overflow-y: auto;}
  #overlay a {font-size: 20px}
  #overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}



.sponsorNameClick{
  cursor:pointer;
}
.sponsorNameClick:hover{
  filter: invert(1);

}
.mouseover-text{
  user-select:none;
}
.mouseover-line{
  user-select:none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}